$bgColor: red;
$font-h1: 28px;
$valid-sides: left, center, right;
$font-sizes: (
  'myh1': 45px,
  'myh2': 19px,
  'myp': 16px,
);

h1 {
  $spanColor: blue;
  color: $bgColor;
  //   font-size: $font-h1;
  font-size: map-get($font-sizes, 'myh1') * 2;
  span {
    color: $spanColor;
  }
}

p {
  text-align: nth($valid-sides, 1);
}
